/* Tela de Login */
*{
  box-sizing:border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  width: 100%;
  background-color: #4285f4;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
}

#mensagem-login, #error-msg {
  text-align: center;
  font-weight: bold;
}